 @charset "utf-8";
/* CSS  */
html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  /*min-width: 945px;*/
  height: 100%;
  font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
  color:#FFF;
  text-shadow:1px 1px 0 rgba(0,0,0,.2);
}

*:focus{
  outline: none;
}

#main{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#nav{
  display: none;
  position: fixed;
  width: 100%;
  height: 10%;
  min-width: 770px;
  min-height: 40px;
  top:0;
  left:0;
  z-index: 2;
}

#nav .logo{
  display: block;
  position: absolute;
  width: 124px;
  height: 30px;
  top: 50%;
  left: 25%;
  margin: -15px 0 0 -62px;
  z-index: 2;
}

#nav ul{
  display: block;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: left;
}

#nav ul li{
  display: inline-block;
  width:20%;
  height:100%;
  
  z-index: 2;
  position: relative;
}

#nav ul li a{
  display: block;
  position: absolute;
  width: 100%;
  height: 30px;
  top: 50%;
  margin: -15px 0 0 0;
  text-align: center;
  line-height: 200%;
  text-decoration: none;
  font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
  color:#FFF;
  text-shadow:1px 1px 0 rgba(0,0,0,.2)
}

#nav ul li a::after{
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 90%;
  width: 0;
  height: 0;
  border-width:0 8px 6px 8px;
  border-style:solid;
  border-color:transparent transparent #5CABD2 transparent;
  margin: 10px 0 0 -8px;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s; 
}

#nav ul li:hover a{
  color:#5CABD2;
}

#nav ul li:hover a::after{
  opacity: 1;
  margin: -2px 0 0 -8px;
}
/*导航条以及面板样式设定完毕*/
.roll{
  display: block;
  position: fixed;
  width: 60px;
  height: 60px;
  z-index: 99;
  top: 50%;
  left: 90%;
  cursor: pointer;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  margin: -30px 0 0 0;
}
.roll_0{
  margin: 0 0 0 0;
}
/*切换页面提示设定样式完毕*/

.common{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 1;
  background-color: transparent;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
  
}

.common_up{
  top: -100%;
  
}
.common_down{
  top: 100%;
  
}
#main_0 {
  background: url(../images/header.jpg) no-repeat center center;
  background-size:cover;
  background-attachment: fixed;
}
#main_0 .bgimg_0{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

#main_0 .hekrlogo{
  display: block;
  width: 24%;
  height: 15vw;
  z-index: 2;
  position: absolute;
  top: 10%;
  left: 38%;
  opacity: 0;
  margin: 12vh 0 0 0;
  transform: rotate3d(0,1,0,90deg);
  -webkit-transform: rotate3d(0,1,0,90deg);
  -moz-transform: rotate3d(0,1,0,90deg);
  -ms-transform: rotate3d(0,1,0,90deg);
  -o-transform: rotate3d(0,1,0,90deg);
  -webkit-transition: all 1s 0.4s;
  -o-transition: all 1s 0.4s;
  -moz-transition: all 1s 0.4s;
  transition: all 1s 0.4s;
}
#main_0 .title{
  display:block;
  position: absolute;
  width: 310px;
  height: 50px;
  margin: 50vh 0 0 -155px;
  opacity: 0;
  font-family: "Avenir Next";
  -webkit-font-smoothing:antialiased;
  text-align: center;
  line-height: 50px;
  z-index: 2;
}
#main_0 .title_1{
  margin:55vh 0 0 -155px;
  font-size: 50px;
  left:20%;
  top: 0;
  -webkit-transition: left 0.6s 1.4s,top 0.6s 1s,opacity 0.6s 1.4s;
  -o-transition: left 0.6s 1.4s,top 0.6s 1s,opacity 0.6s 1.4s;
  -moz-transition: left 0.6s 1.4s,top 0.6s 1s,opacity 0.6s 1.4s;
  transition: left 0.6s 1.4s,top 0.6s 1s,opacity 0.6s 1.4s;
}
#main_0 .title_2{
  margin:65vh 0 0 -155px;
  font-size: 30px;
  line-height: 70px;
  top: 0;
  left:80%;
   -webkit-transition: left 0.6s 1.4s,top 0.6s 1s,opacity 0.6s 1.4s;
  -o-transition: left 0.6s 1.4s,top 0.6s 1s,opacity 0.6s 1.4s;
  -moz-transition: left 0.6s 1.4s,top 0.6s 1s,opacity 0.6s 1.4s;
  transition: left 0.6s 1.4s,top 0.6s 1s,opacity 0.6s 1.4s;
  
}
#main_0 .title_3{
  margin:75vh 0 0 -155px;
  font-size: 20px;
  top:20%;
  left: 50%;
  line-height: 26px;
   -webkit-transition: left 0.6s 1.4s,top 0.6s 1s,opacity 0.6s 1.4s;
  -o-transition: left 0.6s 1.4s,top 0.6s 1s,opacity 0.6s 1.4s;
  -moz-transition: left 0.6s 1.4s,top 0.6s 1s,opacity 0.6s 1.4s;
  transition: left 0.6s 1.4s,top 0.6s 1s,opacity 0.6s 1.4s;
   
}

#main_0 .title_0{
  opacity: 1;
  left:50%;
  top: 0;
}

#main_0 .more{
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 110px;
  height: 30px;
  margin: 80vh 0 0 -55px;
  padding: 0 0 0 30px;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  background-color: #5BADD5;
  border-radius: 30px;
  font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
  color:#FFF;
  text-shadow:1px 1px 0 rgba(0,0,0,.2);
  z-index: 2; 
  opacity: 1;
  -webkit-transform: rotate3D(0,1,0,90deg);
  -ms-transform: rotate3D(0,1,0,90deg);
  -o-transform: rotate3D(0,1,0,90deg);
  transform: rotate3D(0,1,0,90deg);
  -webkit-transition: opacity 0.4s 1.6s,-webkit-transform 0.4s 2s;
  -o-transition: opacity 0.4s 2s,-o-transform 0.4s 1.6s;
  transition: opacity 0.4s 2s,transform 0.4s 2s;
  -moz-transition: opacity 0.4s 2s,-moz-transform 0.4s 2s;
}
#main_0 .more::before{
  content: '';
  display: block;
  position: absolute;
  left: 70%;
  top: 50%;
  width: 0;
  height: 0;
  border-width:12px 0 12px 12px;
  border-style:solid;
  border-color:transparent transparent transparent #fff;
  margin: -12px 0 0 0;
  -webkit-transition: margin 0.3s;
  -o-transition: margin 0.3s;
  transition: margin 0.3s;
  -moz-transition: margin 0.3s;
  z-index: 2;
}
#main_0 .more::after{
  content: '';
  display: block;
  position: absolute;
  left: 70%;
  top: 50%;
  width: 0;
  height: 0;
  border-width:10px 0 10px 10px;
  border-style:solid;
  border-color:transparent transparent transparent #5BADD5;
  margin: -10px 0 0 0;
  -webkit-transition: margin 0.3s;
  -o-transition: margin 0.3s;
  transition: margin 0.3s;
  -moz-transition: margin 0.3s;
  z-index: 2;
}
#main_0 .more:hover{
  background-color: #227AA2;
}
#main_0 .more:hover::before{
  margin: -12px 0 0 10px;
}
#main_0 .more:hover::after{
  border-color:transparent transparent transparent #227AA2;
  margin: -10px 0 0 10px;
}
#main_0 .more_0{
  -webkit-transform: rotate3D(1,1,1,0);
  -ms-transform: rotate3D(1,1,1,0);
  -o-transform: rotate3D(1,1,1,0);
  -moz-transform: rotate3D(1,1,1,0);
  transform: rotate3D(1,1,1,0);
  opacity: 1;
}

#main_0 .hekrlogo_0{
   opacity: 1;
  transform: rotate3d(1,1,1,0);
  -webkit-transform: rotate3d(1,1,1,0);
  -moz-transform: rotate3d(1,1,1,0);
  -ms-transform: rotate3d(1,1,1,0);
  -o-transform: rotate3d(1,1,1,0);
 } 
/*第一张完毕*/
#main_1 #circle{
  position: absolute;
  width: 70vh;
  height: 70%;
  width: 500px;
  height: 500px;
  top: 15%;
  left: 50%;
  margin:-0 0 0 -35vh;
   box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  border: 2px solid #C2C2C2;
  border-radius:50%;
  z-index: 1; 
}
#main_1 #circle img{
  display: block;
  width: 380px;
  height: 380px;
  position: absolute;
  top: 50%;
  left:50%;
  border-radius: 50%;
  margin: -190px 0 0 -190px;
}
#main_1 #circle .little{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius:50%;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  border: 2px solid #C2C2C2;
  z-index: 2;
  background-color: #fff;
}
#main_1 #circle .little_1{
  top: 23px;
  left: 23px; 
}
#main_1 #circle .little_2{
  top: 23px;
  right: 23px; 
}
#main_1 #circle .little_3{
  top: 50%;
  left: 0; 
  margin: -50px 0 0 -50px;
}#main_1 #circle .little_4{
  top: 50%;
  left: 100%; 
  margin: -50px 0 0 -50px; 
}#main_1 #circle .little_5{
  bottom: 23px;
  left:23px;
}#main_1 #circle .little_6{
  bottom: 23px;
  right: 23px;
}
#main_1 #circle .little .little_img{
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  overflow: hidden;
  margin:-30px 0 0 -30px;
  border-radius: 0;
   -ms-interpolation-mode: bicubic; 
  -webkit-transform: rotate3d(1,1,1,0);
  -ms-transform: rotate3d(1,1,1,0);
  -o-transform: rotate3d(1,1,1,0);
  transform: rotate3d(1,1,1,0);

  -webkit-transition: all 0.4s;
  -o-transition:all 0.4s;
  transition:all 0.4s;
 
}
#main_1 #circle .little .little_img:hover{
  -webkit-transform: rotate3d(0,1,0,180deg);
  -ms-transform: rotate3d(0,1,0,180deg);
  -o-transform: rotate3d(0,1,0,180deg);
  -moz-transform: rotate3d(0,1,0,180deg);
  transform: rotate3d(0,1,0,180deg);
  
}
#main_1 #circle .little span{
  display: block;
  position: absolute;
  width: 160%;
  height: 120px;
  color: #4A4E51;
  font-size: 16px;
  font-family: "helvetica neue",arial,sans-serif;
  font-weight: bold;
  text-shadow:none;
  z-index: 10;
}
#main_1 #circle .little span h1{
  margin: 0;
  padding: 0;
  line-height: 50px;
}
#main_1 #circle .little span a{
  font-size: 32px;
  font-family: "helvetica neue",arial,sans-serif;
  font-weight: bold;
  line-height: 120px;
  color: #5AACD5;
  text-decoration: none;
}
#main_1 #circle .little span a::before{
  content: '';
  display: block;
  position: absolute;
  left: 40%;
  top: 50%;
  width: 0;
  height: 0;
  border-width:16px 0 16px 22px;
  border-style:solid;
  border-color:transparent transparent transparent #5AACD5;
  margin: -16px 0 0 0;
  -webkit-transition: margin 0.3s;
  -o-transition: margin 0.3s;
  -moz-transition: margin 0.3s;
  transition: margin 0.3s;
  z-index: 2;
  
}
#main_1 #circle .little span a::after{
  content: '';
  display: block;
  position: absolute;
  left: 40%;
  top: 50%;
  width: 0;
  height: 0;
  border-width:10px 0 10px 16px;
  border-style:solid;
  border-color:transparent transparent transparent #fff;
  margin: -10px 0 0 0;
  -webkit-transition: margin 0.3s;
  -o-transition: margin 0.3s;
  -moz-transition: margin 0.3s;
  transition: margin 0.3s;
  z-index: 2;
}
#main_1 #circle .little span a:hover{
  text-decoration: underline;
}
#main_1 #circle .little span a:hover::before{
  margin: -16px 0 0 20px;
}
#main_1 #circle .little span a:hover::after{
  margin: -10px 0 0 20px;
}
#main_1 #circle .little .explain_left{
  top: 5%;
  right:110%;
  /*margin: 0 0 0 -220px;*/
  text-align: right;
}
#main_1 #circle .little .explain_right{
  top: 5%;
  left:110%;
  /*margin: 0 0 0 120px;*/
}
/*第二张页面结束*/
#main_2 {
  background: url(../images/bg_2.jpg) no-repeat center center;
  background-size:cover;
  background-attachment: fixed;
}
#main_2 .bgimg_2{
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#main_2 .title_2{
  display: block;
  position: absolute;
  width: 270px;
  height: 50px;
  top: 0;
  left: 50%;
  margin: 60px 0 0 -135px;
  text-align: center;
  z-index: 2;
  font-family: "微软雅黑";
  color: #fff;
  font-size: 24px;
}
#main_2 .title_2 h1{
  font-size: 34px;
  margin: 0;
}
#main_2 .cloud{
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  border: 2px solid #fff;
}
#main_2 .cloud::before{
  content: '';
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  border-radius: 50%;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  border: 1px solid #fff;
  opacity: 0;
  -webkit-transition:all 0.6s;
  -o-transition:all 0.6s;
  -moz-transition:all 0.6s;
  transition:all 0.6s;
}
#main_2 .cloud:hover:before{
 width: 150px;
 height: 150px;
 opacity: 1;
 margin: -75px 0 0 -75px;
}
#main_2  .cloud_1{
  top: 50%;
  left: 25%;
  margin: -160px 0 0 -60px;
}
#main_2  .cloud_2{
  top: 50%;
  left: 50%;
  margin: -160px 0 0 -60px;
}
#main_2  .cloud_3{
  top: 50%;
  left: 75%;
  margin: -160px 0 0 -60px;
}
#main_2  .cloud_4{
  top: 50%;
  left: 25%;
  margin: 60px 0 0 -60px;
}
#main_2  .cloud_5{
  top: 50%;
  left: 50%;
  margin: 60px 0 0 -60px;
}
#main_2 .cloud .cloud_img{
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
  -webkit-transition:all 0.6s;
  -o-transition:all 0.6s;
  -moz-transition:all 0.6s;
  transition:all 0.6s;
}
#main_2 .cloud:hover .cloud_img{
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
}
#main_2 .cloud .cloud_title{
  display: block;
  position: absolute;
  width: 180px;
  height: 66px;
  top: 100%;
  left: 50%;
  margin: 10px 0 0 -90px;
  z-index: 2;
  text-align: center;
  font-family: "微软雅黑";
  font-size: 12px;
}

#main_2 .cloud .cloud_title h1{
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}
/*第三张页面结束*/
#main_3  .partner_title{
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  line-height: 90px;
  text-align: center;
  font-size: 36px;
  color: #383736;
  margin: 0 0 0 0;
  text-shadow:none;
  font-family: "微软雅黑";
}
#main_3 .partner{
  display: block;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 70%;
  height:31.3vw;
  top: 20%;
  left: 15%;
}
#main_3 .partner .partner_logo{
  position: relative;
  float: left;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  margin: 0;
  padding: 0;
}
#main_3 .partner .partner_logo_1{
  width:33.3%;
}
#main_3 .partner .partner_logo_1 .li_logo_1{
  display: block;
  width: 100%;
   -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transition:all 0.5s;
}
#main_3 .partner .partner_logo_1 .li_logo_2{
  display: block;
  width: 100%;
 -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transition:all 0.5s;
}
#main_3 .partner .partner_logo_2{
  width: 33.3%;
}
#main_3 .partner .partner_logo_2 .li_logo_3{
  display: block;
  width: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transition:all 0.5s;
}
#main_3 .partner .partner_logo_3{
  width: 33.2%;
}
#main_3 .partner .partner_logo_3 .li_logo_4{
  display: block;
  width: 100%;
 -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transition:all 0.5s;
}
#main_3 .partner .partner_logo_3 .li_logo_5{
  display: block;
  width: 50%;
   -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transition:all 0.5s;
}
#main_3 .partner .partner_logo_3 .li_logo_6{
  display: block;
  float: right;
  width: 50%;
  margin: -66.7% 0 0 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transition:all 0.5s;
}
#main_3 .partner .partner_logo img:hover{
   -webkit-transform: scale3D(1.2,1.2,1.2);
  -ms-transform: scale3D(1.2,1.2,1.2);
  -o-transform: scale3D(1.2,1.2,1.2);
  transform: scale3D(1.2,1.2,1.2);
  -moz-transform: scale3D(1.2,1.2,1.2);
  z-index: 99;
  position: relative;
}
/*第四张页面结束*/
#main_4 .switch_button{
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 15%;
  left: 0;
  text-align: center;
  z-index: 99;
}
#main_4 .switch_button .little_button{
  margin: 0 2px 0 2px;
  padding: 0;
  display: inline-block;
  text-align: center;
  width: 90px;
  height: 35px;
  border: 2px solid #fff;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  border-radius:15px; 
  font-size: 18px;
  line-height: 35px;
}
/*#main_4 .switch_button .little_button:hover{
  background-color: #5BADD5;
}*/
#main_4 .switch_button .little_button_selected{
  background-color: #5BADD5;
}
#main_4 .switch_button .little_button a{
  text-decoration: none;
  color: #fff;
}
#main_4 .main_4_bm{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 9;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transition:all 0.5s;
}
#main_4 #main_4_show_bg{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
#main_4 .main_4_bm_0{
  left: -100%;
  opacity: 0;
}
#main_4 .main_4_bm_1{
  left: 100%;
  opacity: 0;
}
#main_4 #fixed_hand{
  display: block;
  position: absolute;
  height: 80%;
  bottom: 0;
  left: 60%;
  z-index: 99;
}
#main_4::before{
  content: '有家的地方就有氦氪有氦氪的地方就是家';
  display: block;
  position: absolute;
  width: 220px;
  height: 90px;
  bottom: 50%;
  left: 60%;
  z-index: 90;
  margin: 0 0 0 -220px;
  background-color: rgba(255,255,255,0.7);
  font-size: 1.4em;
  color: black;
  text-shadow:none;
  text-align: center;
  line-height: 1.8em;
  border-radius: 20px;
  font-family: "微软雅黑";
}
/*第五张页面结束*/
#main_5 .main_5_switch{
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 15%;
  left: 0;
  text-align: center;
  z-index: 99;
}
#main_5 .main_5_switch .main_5_button{
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius:50%; 
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  margin: 0 10px 0 10px;
  padding: 0;
}
#main_5 .main_5_switch .main_5_button a{
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid #909195;
  border-radius:50%; 
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
}
#main_5 .main_5_switch .main_5_button .main_5_button_selected{
  background-color: #5BABD5;
  border:2px solid transparent;
}
#main_5 .main_5_title{
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 80px;
  top: 10%;
  left: 0;
}
#main_5 .main_5_title .main_5_tb{
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 40%;
  height: 100%;
  top: 0;
  left: 30%;
  opacity: 1;
   -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  -moz-transition:all 0.8s;
  opacity: 0;
}
#main_5 .main_5_title .main_5_tb_0{
  opacity: 1;
}
#main_5 .main_5_title .main_5_tb a{
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  font-size: 28px;
  text-align: center;
  color: #797A7E;
  text-shadow:none;
}
#main_5 .main_5_title .main_5_tb a span{
  color: #85C2DF;
  text-shadow:none;
}
#main_5  .main_5_img{
  display: block;
  position:absolute; 
  height: 40%;
   -webkit-transition: opacity 1.2s,right 1.2s,left 1.2s;
  -o-transition: opacity 1.2s,right 1.2s,left 1.2s;
  transition: opacity 1.2s,right 1.2s,left 1.2s;
  -moz-transition:opacity 1.2s,right 1.2s,left 1.2s;
}
#main_5  .main_5_img1{
  top: 30%;
  right: 51%;
  width: 
  max-width: 437px;
  max-height: 198px;
  opacity: 1;
}
#main_5  .main_5_img2{
  bottom: 40%;
  left: 51%;
  max-width: 486px;
  max-height: 198px;
  opacity: 1;
}
#main_5  .main_5_img3{
  top:30%;
  left: 51%;
  max-width: 522px;
  max-height: 306px;
  opacity: 1;
}
#main_5  .main_5_img4{
  top:30%;
  right: 51%;
  max-width: 522px;
  max-height: 303px;
  opacity: 1;
}
#main_5  .main_5_img5{
  top:50%;
  width: 12%;
  height: auto;
  left: 25%;
  opacity: 1;
}
#main_5  .main_5_img6{
  top:45%;
  width: 12%;
  height: auto;
  left: 37.5%;
  opacity: 1;
}
#main_5  .main_5_img7{
  top:40%;
  width: 12%;
  height: auto;
  left: 50%;
  opacity: 1;
}
#main_5  .main_5_img8{
  top:35%;
  width: 12%;
  height: auto;
  left: 62.5%;
  opacity: 1;
}
#main_5  .main_5_img9{
  top:30%;
  width: auto;
  height: 40%;
  left: 25%;
  opacity: 1;
}
#main_5  .main_5_img10{
  top:30%;
  width: auto;
  height: 40%;
  left: 37.5%;
  opacity: 1;
}
#main_5  .main_5_img11{
  top:30%;
  width: auto;
  height: 40%;
  left: 50%;
  opacity: 1;
}
#main_5  .main_5_img12{
  top:30%;
  width: auto;
  height: 40%;
  left: 62.5%;
  opacity: 1;
}
#main_5  .main_5_img13{
  top:30%;
  width: auto;
  height: 40%;
  left: 25%;
  opacity: 1;
}
#main_5  .main_5_img14{
  top:30%;
  width: auto;
  height: 40%;
  left: 37.5%;
  opacity: 1;
}
#main_5  .main_5_img15{
  top:30%;
  width: auto;
  height: 40%;
  left: 50%;
  opacity: 1;
}
#main_5  .main_5_img16{
  top:30%;
  width: auto;
  height: 40%;
  left: 62.5%;
  opacity: 1;
}

#main_5  .main_5_img_r{
  opacity: 0;
  left: 90%;
  right: 0;
}
#main_5  .main_5_img_l{
  opacity: 0;
  right: 90%;
  left: 0;
}
/*第六张页面设定样式结束*/
#main_6{
  display: none;
}
#main_6 #nav1{
  display: block;
  position: absolute;
  width: 50%;
  height: 10%;
  top: 0;
  left: 50%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: left;
}

#main_6 #nav1  li{
  display: inline-block;
  width:90px;
  height:100%;
  min-height: 63px;
  z-index: 2;
  position: relative;
}

#main_6 #nav1  li a{
  display: block;
  position: absolute;
  width: 100%;
  height: 30px;
  top: 50%;
  margin: -15px 0 0 0;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  font-family:"微软雅黑";
  color:#464243;
  font-size: 18px;
  text-shadow:none;
}

#main_6 #nav1  li a::after{
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 90%;
  width: 0;
  height: 0;
  border-width:0 8px 6px 8px;
  border-style:solid;
  border-color:transparent transparent #5CABD2 transparent;
  margin: 10px 0 0 -8px;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s; 
}

#main_6 #nav1  li:hover a{
  color:#5CABD2;
}

#main_6 #nav1  li:hover a::after{
  opacity: 1;
  margin: 2px 0 0 -8px;
}
#main_6 .footer{
  list-style: none;
  display: block;
  position: absolute;
  width: 100%;
  height: 20vh;
  bottom: 0;
  margin: 0;
  padding: 0;
  background-color: #3B3738;
}
#main_6 .footer .footer_cm1{
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  width: 20vh;
  height: 20vh;
  top: 0;
  left: 25%;
}
#main_6 .footer .footer_cm1 img{
  display: block;
  position: absolute;
  height: 10vh;
  width: 10vh;
  top: 10%;
  left: 50%;
  margin: 0 0 0 -5vh;
}
#main_6 .footer .footer_cm1 span{
  display: block;
  position: absolute;
  width: 100%;
  height: 30px;
  top: 10%;
 left: 0;
  text-align: center;
  margin: 11vh 0 0 0;
}
#main_6 .footer .footer_cm2{
   margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  width: 20vh;
  height: 20vh;
  top: 0;
  left: 40%;
}
#main_6 .footer .footer_cm2 img{
  display: block;
  position: absolute;
  height: 10vh;
  width: 10vh;
  top: 10%;
  left: 50%;
  margin: 0 0 0 -5vh;
}
#main_6 .footer .footer_cm2 span{
 display: block;
  position: absolute;
  width: 100%;
  height: 30px;
  top: 10%;
 left: 0;
  text-align: center;
  margin: 11vh 0 0 0;
}
#main_6 .footer .footer_cm3{
   margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  width: 45%;
  height: 100%;
  top: 0;
  left: 55%;
}
#main_6 .footer .footer_cm3 img{
  display: block;
  position: absolute;
  width: 5vh;
  height: 5vh;
  top: 5%;
  left: 0;
}
#main_6 .footer .footer_cm3 h1{
  display: block;
  position: absolute;
  top: 5%;
  width: 70%;
  height: 5vh;
  left: 0;
  font-size: 1.4em;
  line-height: 5vh;
  margin: 0 0 0 5vh;
}
#main_6 .footer .footer_cm3 span{
  display: block;
  position: absolute;
  top: 5%;
  width: 80%;
  height: 15vh;
  left: 0;
  font-size: 0.7em;
  line-height: 3vh;
  margin: 5vh 0 0 5vh;
}
#main_6 .main_6_cm{
  list-style: none;
  display: block;
  position: absolute;
  height: 60%;
  width: 22%;
  left: 14%;
  top: 14%;
  margin: 0;
  padding: 0;
}
#main_6 .main_6_cm .cm_li{
  list-style: none;
  display: block;
  position: absolute;
  margin: 0;
  padding: 0 0 0 10px;
  width: 100%;
  height: 16%;
  border-left:2px solid #5BADD5;
  background-color: #F8F8F8;
  z-index: 9;
   box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
}
#main_6 .main_6_cm .cm_li:hover{
  border-top:1px solid #E9E9E9;
  border-bottom:1px solid #E9E9E9;
  border-right:1px solid #FFFFFF;   
  background-color: #FFFFFF;
}
#main_6 .main_6_cm .cm_li h1{
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: #8FC2E1;
  text-shadow:none;
  line-height: 150%;
}
#main_6 .main_6_cm .cm_li b{
  margin: 0;
  padding: 0;
  font-size: 0.5em;
  color: #FB0707;
  text-shadow:none;
}
#main_6 .main_6_cm .cm_li span{
  margin: 0;
  padding: 0;
  color: #3A3839;
  font-size: 0.5em;
  text-shadow:none;
}
#main_6 .main_6_cm .cm_li1{
  top: 0;
}
#main_6 .main_6_cm .cm_li2{
  top: 21%;
}
#main_6 .main_6_cm .cm_li3{
  top: 42%;
}
#main_6 .main_6_cm .cm_li4{
  top: 63%;
}
#main_6 .main_6_cm .cm_li5{
  top: 84%;
}
#main_6 .main_9_detail{
  position: absolute;
  height: 60%;
  width: 50%;
  left: 36%;
  top: 14%;
   box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  border:1px solid #E9E9E9;
  margin: 0 -1px 0 0;
  z-index: -10;
}