.text {
  color: red;
  font-size: 14px;
  margin-top: 20px;
  border-style: solid;
  border-left-width: 2px;
  margin-left: 1px;
  margin-top: 2px;
  margin-right: 3px;
  margin-bottom: 4px; }
  .text:hover {
    margin-top: 40px; }
  .child {
    color: blue; }
