<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>     
    <% include nav %>
    <ul class="reqUl">
    <%  
      if(data){%>
          <li class="reqli"><%= data %></li>
      <%}
    %>
    </ul>
  </body>
</html>